<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="rezult.php?form=circle" method="post">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Введите раиус окружности</label>
                    <input type="text" name="r" class="form-control" id="formGroupExampleInput" placeholder="r"><br>
<!--                    <input type="hidden" name="form" value="circle">-->
                    <br>
                </div>
                <select name="op" class="form-select" aria-label="Default select example">
                    <option selected>Выберите операцию</option>
                    <option value="square">площадь</option>
                    <option value="perimeter">периметр</option>
                </select>
                <br><br>
                <input type="submit" class="btn btn-info" value="Вычислить">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>