@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@800&family=Potta+One&display=swap');

body{
    background-image: url(img/4.jpg);
}

 .input{
     margin:100px 100px 0px 0px ;
     font-family: 'Potta One', cursive;
     font-size: 30px;
     text-align: center;
     color: #6C7363;
     text-shadow: 5px 5px 10px #98A685;
 }

 .input input{
    width:200px;
    height: 30px;
    border: 2px solid #F2CDA0 ;
    border-radius: 10px;
    outline: none;
    background-color: #98A685 ;
    filter: drop-shadow(10px 10px 20px #98A685);
    color: #261712;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
 }
 
 .input input:hover{
     background-color:  #A0B19F;
 }


 /*блок с текстом в шапке*/
 .A{
    font-family: 'Potta One', cursive;
    font-size: 40px;
    text-align: center;
    color: #6C7363;
    text-shadow: 5px 5px 10px #98A685;
 }


  /*блок с таблицей в php*/

.border{
    position: absolute;
    margin: 150px 0px 0px 700px;
    border: 2px solid #716460;
    padding: 50px 50px 50px 50px;
    background-color: #d8cca3 ;
    border-width: 10px;
    filter: drop-shadow(10px 10px 20px #98A685);

    
}
  /* таблица */
.chess{
    background-color: #d8cca3;
    border: 2px solid #716460;
    border-spacing: 0px 0px;
    border-width: 5px;
    animation-name: table;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: drop-shadow(5px 5px 10px #98A685);

}


.chess td{
    background-color: #d8cca3;
    border: 2px solid #716460;
    width:  70px ;
    height: 70px;
  
}


.chess :hover{
    background-image: url(img/amber.png);
    background-repeat: no-repeat;
    background-position: center;

} 

.chess tr:nth-child(even) td:nth-child(odd),
.chess tr:nth-child(odd) td:nth-child(even) {
    background-color:#716460;
   

}


.text{
    font-family: 'Potta One', cursive;
    font-size: 50px;
    color: #A64F03;
    text-shadow: 3px 3px 6px #98A685;

}

@keyframes table {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }