@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Luckiest+Guy&display=swap');

/* Переменная*/
:root {
    --font-family: 'Playfair Display', serif;
}

body{
    background-color: #350b83;
}

.answer{
    margin: 100px 0px 0px 500px;
    padding-top: 100px;
    border:2px solid #F2BE22;
    border-radius: 20px;
    width: 700px;
    height: 200px;
    font-size: 40px;
    text-align: center;
    color:#00fff2;
    font-family: 'Playfair Display', serif;
    filter: drop-shadow(2px 1px 10px #00fff2 );
}
